<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.SB_55_CheckOnFateInBookAFlightDepartTest"/>
      <class name="tests.SB_50_CheckReturnDateInBookaflightReturnTest"/>
      <class name="tests.SB_9_SearchWithInvalidRangesTest"/>
      <class name="tests.SB_37_CodeConfirmationTest"/>
      <class name="tests.RegisterEmptyCreditCardBaDa"/>
      <class name="tests.SB_44_SameDestinyAndOriginTest"/>
      <class name="tests.SB_40_TotalPriceTest"/>
      <class name="tests.RegisterFlightEmpty"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
